@font-face {
    font-family: 'CustomFont'; /* Choose a custom name */
    src: url('BalooBhaijaan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont';
    text-transform: uppercase;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body, .container, .contents {
    overflow: visible !important;
}


.container {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(144,37,45);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.logo {
    padding: 7px;
    width: 90px;
    cursor: pointer;
    margin-right: 50px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar .input-box {
    position: relative;
    margin: 40px 0;
}

.input-box i {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;
}

.navbar input {
    border: none;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px 40px 10px 35px;
}

.navbar button {
    color: white;
    border: solid 1px white;
    background-color: transparent;
    padding: 10px 20px;
    margin-right: 30px;
    border-radius: 8px;
}

button:hover {
    background-color: white;
    color: black;
}

.user {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.user i {
    color: white;
    font-size: 60px;
    cursor: pointer;
}

/* Dropdown Menu */
.user-dropdown {
    display: none;
    position: absolute;
    right: 10px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 150px;
    text-align: left;
    z-index: 1000;
}

.user-dropdown a {
    display: block;
    padding: 10px;
    color: rgb(144,37,45);
    text-decoration: none;
    font-size: 14px;
}

.user-dropdown a:hover {
    background: rgba(144,37,45,0.1);
}

.user:hover .user-dropdown {
    display: block;
}

.subscriptions {
    background: green;
    width: 100%;
    height: 100%;
}

.contents {
    position: relative;
    width: 85%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 100px;
}

.contents-subs {
    margin-top: 100px;
    width: 85%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-title {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(239,200,69,255);
    padding-bottom: 10px;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    min-height: 100px;
}

.product {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    width: 100%;
    max-width: 250px;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.product-title {
    font-size: 16px;
    margin: 10px 0;
}

.price {
    font-size: 14px;
    font-weight: bold;
    color: rgb(144,37,45);
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
}
.subscription-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.subscription-plan {
    background: rgba(51,91,134,255);
    padding: 20px;
    border-radius: 9%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    text-align: center;
    border: 8px solid rgb(144,37,45);
    margin-right: 50px;
    position: relative;
}

.subscription-plan h2 {
    color: rgba(239,200,69,255);
    padding: 10px;
}

.subscription-plan p {
    color: white;
    padding: 10px;
    font-size: 14.5px;
}

.subscription-plan ul {
    list-style-type: square;
    padding-left: 20px;
    color: lightgray;
    text-align: left;
    font-size: 10.5px;
}

.sub-button {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sub-button button {
    position: relative;
    padding: 10px 100px;
    border: none;
    bottom: 0;
    border-radius: 10px;
    font-size: 17px;
    background: rgba(239,200,69,255);
    color: black;
}

.sub-button button:hover {
    background: white;
}

.shopping-cart {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: white;
    bottom: 2px;
}

.shopping-cart i {
    font-size: 40px;
    color: rgb(144,37,45);
    position: relative;
    bottom: -3px;
}

.gift-tab, .subscribe-tab, .about-us, .contact {
    border-bottom: 2px solid white;
}

.price-reviews {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.price-reviews i {
    color: rgba(239,200,69,255);
}

.add-to-cart {
    margin-top: 5px;
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(239,200,69,255);
}

.product button {
    font-size: 14px;
}

.curated-gifts, .food-platter {
    margin-top: 40px;
}

.about {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    width: 85%;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 100px;
}

.about-title {
    padding: 20px;
    width: 100%;
    color: black;
    border-radius: 15%;
    margin-right: 20px;
}

.about-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.about-logo img {
    width: 190px;
    height: 190px;
    margin-right: 30px;
}

.about-logo h1{
    font-size: 70px;
}

.about-title p {
    margin-bottom: 12px;
    font-size: 13px;
}

.about .team-pic {
    margin-top: 50px;
    max-height: 700px;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Cart Table */
.cart-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
    text-align: center;
}

/* Table Headers */
.cart-table th {
    background-color: rgba(51,91,134,255);
    color: white;
    font-size: 16px;
    padding: 15px;
    border-radius: 8px;
}

/* Table Cells */
.cart-table td {
    font-size: 16px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}


/* Product Image */
.product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

/* Quantity Controls */
.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-btn {
    background-color: rgb(144,37,45);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 5px;
}

.quantity-btn:hover {
    background-color: rgb(144,37,45);
}

/* Buttons */

.cart-container .quantity-btn {
    padding: 2px 5px;
}

.cart-container button {
    padding: 10px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.menu {
    margin-right: 50px;
}

.cart-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    border-top: 2px solid #ddd;
}

.cart-actions {
    display: flex;
    gap: 10px;
}

.total-container {
    font-size: 18px;
    font-weight: bold;
}

.cart-container .remove-btn {
    background-color: rgb(144,37,45);
    color: white;
}

.cart-container .remove-btn:hover {
    background-color: #cc0000;
}

.cart-container .clear-cart, .cart-container .checkout-btn {
    background-color: rgba(239,200,69,255);
    color: black;
    margin-top: 20px;
    display: block;
    width: 150px;
    text-align: center;
}

.cart-container .clear-cart:hover {
    background-color: white;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: rgba(51,91,134,255);
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: rgba(239,200,69,255);
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  .days li .active {
    border-radius: 10px;
    padding: 5px;
    background: rgb(144,37,45);
    color: white !important
  }

  .calendar-container ul{
    list-style-type: none;
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background: white;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .contact-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    width: 85%;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 100px;
  }

  .instagram, .facebook, .contact-number, .gmail {
    padding: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    flex: row;
    width: 100%;    
  }

  .instagram p, .facebook p, .contact-number p, .gmail p {
    font-size: 18px;  
  }

  .instagram i, .facebook i, .contact-number i, .gmail i {
    font-size: 50px;
    margin-right: 30px;
    color: rgba(51,91,134,255);
  }

.reminder-container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.reminder-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.reminder-table th {
    background: #2c5175;
    color: white;
    padding: 10px;
}

.reminder-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.reminder-container .reminder-actions, .deleteBtn {
    background: rgba(239,200,69,255);
    color: black;
    border: none;
    padding: 10px 13px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;  
    margin-right: 40px;
    border: 2px solid black;
}

.set-reminder-btn {
    width: 20%;
    margin-top: 20px;
    font-size: 16px;
}

#reminderForm {
    display: none;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.deleteBtn {
    background-color: rgb(144,37,45);
    color: white;
    border: none;
}

.account-container {
    width: 50%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-header {
    text-align: center;
    padding: 20px;
}

.profile-header i {
    font-size: 80px;
    color: #2c5175;
}

.profile-header h2 {
    margin-top: 10px;
    color: #2c5175;
    font-size: 24px;
}

.profile-header p {
    color: #666;
    font-size: 14px;
}

.account-info {
    text-align: left;
    margin-top: 20px;
}

.account-info h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c5175;
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.edit-btn {
    background: rgba(239,200,69,255);
    color: black;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
    transition: 0.3s;
}

.edit-btn:hover {
    background: white;
}


/* Responsive Design */
@media (max-width: 926px) {
    .account-container {
        width: 70%;
    }
    .reminder-container {
        width: 90%;
        padding: 15px;
    }

    .reminder-table th, .reminder-table td {
        padding: 8px;
        font-size: 14px;
    }
    
    .set-reminder-btn {
        width: 30%;
        font-size: 14px;
    }
    .subscription-plan {
        width: 350px;
        height: 580px;
    }
    .navbar {
        height: 90px;
        padding: 20px 0;
    }

    .navbar ul li {
        margin: 0 10px;
    }

    .navbar ul li a {
        font-size: 13.5px;
    }

    .logo {
        width: 70px;
        margin-right: 30px;
    }

    .navbar .input-box {
        display: none;
        margin: 20px 0;
    }

    .navbar input {
        padding: 8px 10px 8px 35px;
    }

    .navbar button {
        display: none;
        padding: 8px 16px;
        margin-right: 40px;
    }

    .menu {
        margin-right: 30px;
    }

    .about .team-pic {
        height: 350px;
    }

    .about .logo-icon {
        width: 90px;
        height: 90px;
    }

    .about-logo h1 {
        font-size: 40px;
    }

    .user i {
        font-size: 50px;
    }

    .shopping-cart {
        height: 45px;
        width: 45px;
        border-radius: 100%;
    }

    .shopping-cart i {
        font-size: 30px;
    }
    .subscription-plan {
        margin: 0;
    }

    .content-title {
        font-size: 16px;
    }

    .about img {
        height: 450px;
    }

    .cart-container {
        width: 90%;
    }

    .cart-table th, .cart-table td {
        font-size: 14px;
    }
}

@media (max-width: 734px) {
    .account-container {
        width: 80%;
    }

    table th, table td {
        font-size: 14px;
    }
    .reminder-container {
        width: 95%;
    }

    .reminder-table th, .reminder-table td {
        font-size: 12px;
        padding: 6px;
    }

    .set-reminder-btn {
        width: 40%;
        font-size: 12px;
        padding: 8px;
    }

    .reminder-actions button {
        padding: 8px 12px;
        font-size: 12px;
    }
    .subscription-plan {
        width: 260px;
        height: 500px;
    }

    .subscription-plan h2 {
        font-size: 14px;
    }

    .subscription-plan p {
        font-size: 10px;
    }

    .subscription-plan ul {
        font-size: 8.5px;
    }

    .subscription-plan .sub-button button{
        font-size: 10px;
        padding: 10px 60px;
    }

    .navbar {
        height: 70px;
        padding: 15px 0;
    }

    .navbar ul li {
        display: none;
    }

    .navbar ul li a {
        font-size: 12px;
        display: none;
        margin-right: 40px;
    }

    .logo {
        width: 70px;
    }

    .navbar .input-box {
        margin: 10px 0;
    }

    .input-box i {
        font-size: 15px;
    }

    .navbar input {
        padding: 10px 10px 10px 30px;
    }

    .navbar button {
        display: none;
    }

    .user i {
        font-size: 50px;
    }
    .content-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .subscription-plan {
        margin: 0;
    }

    .contents {
        margin-top: 80px;
    }

    .about .logo-icon {
        width: 90px;
        height: 90px;
    }

    .about-logo h1 {
        font-size: 40px;
    }

    .about .team-pic {
        height: 350px;
    }

    .cart-container {
        width: 95%;
    }

    .cart-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .cart-table th, .cart-table td {
        font-size: 12px;
        padding: 8px;
    }

    .cart-table img {
        width: 80px;
    }

    .quantity-btn {
        padding: 4px 8px;
    }
    
}

@media (max-width: 430px) {
    .account-container {
        width: 95%;
        padding: 15px;
    }

    .profile-header i {
        font-size: 60px;
    }

    table th, table td {
        font-size: 12px;
    }

    .edit-btn {
        font-size: 14px;
        padding: 10px;
    }

    input {
        font-size: 9px;
        padding: 4px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .reminder-container {
        width: 100%;
        padding: 10px;
    }

    .reminder-table th, .reminder-table td {
        font-size: 10px;
        padding: 5px;
    }

    .reminder-container .set-reminder-btn {
        width: 35%;
        font-size: 10px;
        padding: 10px;
    }

    .reminder-container .reminder-actions, .deleteBtn {
        padding: 3px 7px;
        font-size: 10px;
    }

    
    .contents-subs {
        margin-top: 100px;
    }
    .subscription-plan {
        height: 470px;
        width: 100%;
        padding: 15px;
        border-radius: 10%;
    }

    .subscription-plan h2 {
        font-size: 15px;
    }

    .subscription-container {
        margin-bottom: 50px;
    }

    .subscription-plan p {
        font-size: 10px;
        font-weight: normal;
    }

    .subscription-plan ul {
        font-size: 8.5px;
    }

    .navbar {
        height: 80px;
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        margin: 0;
    }

    .sub-button button{
        font-size: 14px;
        padding: 10px 60px;
    }

    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(144,37,45);
        padding: 10px 0;
        border-top: 2px solid white;
        width: 100%;
        z-index: 1000; /* Ensure it's above other elements */
    }

    .contents {
        padding-bottom: 60px;
    }

    .navbar ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .navbar ul li {
        width: 100%;
        display: block;
        flex-grow: 1;
        text-align: center;
    }

    .navbar ul li a {
        width: 100%;
        display: block;
        font-size: 9.5px;
        color: white;
        text-decoration: none;
    }

    .logo {
        width: 70px;
        margin-right: auto; /* Adjust logo margin to left-align */
    }

    .navbar .input-box {
        background: white;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
    }

    .contents {
        margin-top: 100px;
    }

    .contents h1 {
        font-size: 20px;
    }

    .input-box i {
        font-size: 25px;
        left: 9.5px;
    }

    .navbar .input-box {
        padding: 0;
        display: flex;
        bottom: 2px;  
        margin: 0;
        margin-right: 10px;
    }

    .navbar input {
        display: none;
    }
    .navbar input::placeholder {
        color: transparent;
    }

    .navbar button {
        display: fixed;
    }

    .user i {
        font-size: 50px;
    }

    .shopping-cart {
        width: 40px;
        height: 40px;
    }

    .shopping-cart i {
        font-size: 25px;
    }

    .subscription-plan {
        margin: 0;
    }

    .content-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 10px;
    }

    .product {
        width: 120px;
        height: auto;
        padding: 8px;
    }

    .product img {
        height: 100px;
    }


    .product-title {
        font-size: 10px;
    }

    .price {
        font-size: 12px;
    }
    .product button {
        font-size: 12px;
    }

    .add-to-cart {
        padding: 5px 10px;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 90%;
        height: 100%;
        margin: 0;
        margin-top: 50px;
    }

    .about-title {
        width: 100%;
    }

    .about-logo h1{
        font-size: 30px;
    }

    .about p {
        font-size: 10px;
    }

    .about .team-pic {
        height: 150px;
    }

    .about .logo-icon {
        width: 70px;
        height: 70px;
    }
    
    .cart-container {
        display: flex;
        flex-direction: column;
        width: 85%;
        padding: 5px;
    }

    .cart-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .cart-table th, .cart-table td {
        font-size: 10px;
        padding: 5px;
    }

    h2 {
        font-size: 18px;
    }

    .cart-table th, .cart-table td {
        font-size: 6px;
    }

    .cart-table img {
        width: 30px;
        height: 30px;
    }

    .cart-table .quantity-controls {
        flex-direction: row;
    }

    .cart-table .quantity-btn {
        font-size: 5px;
        padding: 3px;
    }

    .cart-table .remove-btn {
        font-size: 5px;
        padding: 6px;
    }

    .total-container {
        font-size: 12px;
    }

    .cart-container .clear-cart, .cart-container .checkout-btn {
        padding: 3px 2px;
        font-size: 9px;
        width: 80px;

    }
    
    
  .instagram p, .facebook p, .contact-number p, .gmail p {
    font-size: 13px;  
  }

  .instagram i, .facebook i, .contact-number i, .gmail i {
    font-size: 50px;
    margin-right: 10px;
    color: rgba(51,91,134,255);
  }

    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}


}